@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Comunity Solutoins<br />
    Döskalle 3, Döskalle Ön<br />
    <abbr title="Phone">Phone:</abbr>
    3.1415926535
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ljung@live.se"> ljung@live.se</a><br />
    <strong>Marketing:</strong> <a href="mailto:lucaspe@kth.com"> lucaspe@kth.com</a>
</address>