@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Swag Town</h1>
    <p class="lead">Swag Town is a web based community service with chat/mail functionality</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To start chating with your friends, register an account 
            <!--<a class="btn btn-default" href="/Message/index">Learn less &raquo;</a>-->
        </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Functions</h2>
        <p>What you can do with this awesome chat application, you can: </p>
        <p><ul>
            <li>Send messages to several users and/or groups of users.
            </li><li>Read messages and se when you read your messages.
            </li><li>Join groups to recive massspam.
            </li></ul></p>
       <!-- <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    --></div>
</div>